section.about
    .container
        .title.title--with-line
            h2.title.title__header About us
            .title.title-text We are added our major Service

        ul.about__list
             li.about__item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta incidunt itaque perferendis rem repellat. Reiciendis!

             li.about__item
                 .icon.icon-book
                 h3.about__header Lending page Marketion
                 p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur est, excepturi in inventore laborum mollitia.

             li.about__item
                 .icon.icon-message
                 h3.about__header Ads Management
                 p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquid earum nemo recusandae velit voluptatem!
