section.approach
    .container
        .title.title--with-line
            h2.title.title__header Our Aproach
            .title-text Check our aproaches step by step (how we do it)

        ul.approach__list
            li.approach__item
                .approach__image
                    img.approach__pic(src="../../img/step-1.jpg" alt="step-1")
                    .approach__step step
                .approach__text
                    .approach__title Step 1 : Heading Here
                    p.approach__description.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi eveniet fuga mollitia
                        nemo nobis quam repudiandae soluta tenetur voluptatum? Cumque dolorem earum inventore iusto numquam
                        omnis reiciendis temporibus veritatis.
            li.approach__item
                .approach__image
                    img.approach__pic(src="../../img/step-2.jpg" alt="step-1")
                    .approach__step step
                .approach__text
                    .approach__title Step 2 : Heading Here
                    p.approach__description.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi eveniet fuga mollitia
                        nemo nobis quam repudiandae soluta tenetur voluptatum? Cumque dolorem earum inventore iusto numquam
                        omnis reiciendis temporibus veritatis.
            li.approach__item
                .approach__image
                    img.approach__pic(src="../../img/step-3.jpg" alt="step-1")
                    .approach__step step
                .approach__text
                    .approach__title Step 3 : Heading Here
                    p.approach__description.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi eveniet fuga mollitia
                        nemo nobis quam repudiandae soluta tenetur voluptatum? Cumque dolorem earum inventore iusto numquam
                        omnis reiciendis temporibus veritatis.
            li.approach__item
                .approach__image
                    img.approach__pic(src="../../img/step-4.jpg" alt="step-1")
                    .approach__step step
                .approach__text
                    .approach__title Step 4 : Heading Here
                    p.approach__description.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi eveniet fuga mollitia
                        nemo nobis quam repudiandae soluta tenetur voluptatum? Cumque dolorem earum inventore iusto numquam
                        omnis reiciendis temporibus veritatis.
                                                                   