section.work
    .container
        .title.title--with-line
            h2.title.title__header Our Work
            .title-text We are added our featured works below
        
        ul.work__list
            li.work__item.work__item--name
                img.work__pic(src="../../img/icons/work-item.png" alt="work-1")
                .work__name Project Name
                .work__description Facebook marketing

            li.work__item: img.work__pic(src="../../img/work-1.jpg" alt="step-1")

            li.work__item.work__item--name
                img.work__pic(src="../../img/icons/work-item.png" alt="work-1")
                .work__name Project Name
                .work__description Landing Page

            li.work__item: img.work__pic(src="../../img/work-2.jpg" alt="work-1")    


            li.work__item: img.work__pic(src="../../img/work-3.jpg" alt="work-2")    

            li.work__item.work__item--name
                img.work__pic(src="../../img/icons/work-item.png" alt="work-1")
                .work__name Project Name
                .work__description Facebook marketing

            li.work__item: img.work__pic(src="../../img/work-4.jpg" alt="work-3") 

            li.work__item.work__item--name
                img.work__pic(src="../../img/icons/work-item.png" alt="work-1")
                .work__name Project Name
                .work__description Facebook marketing